@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #111827, #000000 65%);
}

.skill-badge {
  padding: 8px 14px;
  border-radius: 999px;
  border: 1px solid #2a2a2a;
  font-size: 0.85rem;
  color: #d1d5db;
  transition: all 0.3s ease;
}

.skill-badge:hover {
  color: #ffffff;
  border-color: #a855f7;
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.45);
}


.contact-card {
  height: 160px;
  border-radius: 1.5rem;
  background: #0b0b0b;
  border: 1px solid #2a2a2a;
  color: #d1d5db;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  transition: all 0.3s ease;
}

.contact-card:hover {
  color: #ffffff;
  border-color: #a855f7;
  box-shadow: 0 0 30px rgba(168, 85, 247, 0.45);
}

